<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_watchwatch"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_watchwatch"
        android:supportsRtl="true"
        android:theme="@style/Theme.WatchWatch">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.StaticPageActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

    </application>

</manifest>
